@model VidlyMoshNet8.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary(true,"Por favor soluciona los siguientes errores.")
    <div class="form-group">
        @Html.LabelFor(c => c.Customers.Name)
        @Html.TextBoxFor(c => c.Customers.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customers.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customers.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customers.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customers.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customers.Birthdate)
        @Html.TextBoxFor(c => c.Customers.Birthdate,"{0:d MM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customers.Birthdate)
    </div>
    

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customers.IsSubscribedToNewsLetter) Subscribed to Newsletter
        </label>
    </div>
        @Html.HiddenFor(c => c.Customers.Id)
        @Html.AntiForgeryToken()
    <button type="submit" class ="btn btn-primary">Save</button>
    
}